@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  background-color: rgba(3, 100, 255, 0.98);
}
